inf25tig32/pacotes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="pacotes">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="pacote" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nome" type="xs:string"/>
                            <xs:element name="horas" type="xs:string"/>
                            <xs:element name="preco" type="xs:string"/>
                            <xs:element name="entregaveis" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>